@import "_variables.scss";

@media (min-width: 576px) {
    #root .layout {
        padding: 0;
    }
}

[dir=ltr] #root .layout:before, [dir=ltr] #root .layout:after, [dir=ltr] #root .layout:before {
    box-shadow: none !important;
}

[dir="ltr"] .company-logo {
    margin: 0 !important;
}

#root .layout {
    background-color: white;
    padding: 0;
}

.login-button {
    min-width: 100%;
    background-color: $app-primary-500;
    border-color: $app-primary-500;
}

.login-button:hover {
    color: #FFFFFF;
    background-color: #228B22EE;
    border-color: #228B22EE;
}

.link-button {
    background-color: transparent;
    color: $app-primary-500;
    border: none;
    padding: 0;
}

.btn-brand:not(:disabled, .disabled):active, .btn-brand:not(:disabled, .disabled).active, .show > .btn-brand.dropdown-toggle {
    background-color: $app-primary-500;
    border-color: $app-primary-500;
}

.form-control:focus {
    border-color: $app-primary-500;
    box-shadow: 0 0 0 1px $app-primary-500;
}
